<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Game Center</title>
  </head>
  <body>
    <header>   
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container d-flex justify-content-between">
            <a class="btn btn-primary" href="/login" role="button">Login</a>
            <a class="btn btn-primary" href="/register" role="button">Register</a>
          </div>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align:center">Welcome to Game Center Web!</h1>
    <p style="text-align:center">Login to see many interesting games and subscribe them
         to watch the trailer anytime u want!!</p>
  </body>
</html>