<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Game Center</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <form action="/login" method="POST">
        <h2>Login Account</h2>
        <% if(error){ %>
            <p style="color: red;"><%= error %></p>
        <% } %>
        <div class="form-row">
            <div class="form-group col-md-3">
                <input class="form-control" type="email" name="email" placeholder="E-mail">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
        </div>
        
        
        <input type="submit" class="btn btn-primary" value="Login"> <button class="btn btn-secondary"><a style="text-decoration: none; color: white;" href="/register">Register</button></a>
    </form>
</body>
</html>