<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Game Center</title>
</head>
<body>
    <form action="/login" method="POST">
        <h2>Login Account</h2>
        <% if(error){ %>
            <p style="color: red;"><%= error %></p>
        <% } %>
        <input type="email" name="email" placeholder="E-mail"><br><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <input type="submit" value="Login"> <button><a href="/register">Register</button></a>
    </form>
</body>
</html>